body{
     background-image: url(https://c4.wallpaperflare.com/wallpaper/224/829/129/digital-digital-art-artwork-illustration-simple-hd-wallpaper-preview.jpg);
     height: 12cm;
background-position: top;
background-repeat: no-repeat;
background-size: 100%;
    
}

.left-nav{
     /* border: 2px solid white; */
     width: fit-content;
     position: fixed;
     top:3px;
     
}
.left-nav h1{
     color: white;
    padding: 2px 22px;
    margin: 9px 7px;
    cursor: none;
}
.navbar{
     /* border: 2px solid white; */
    display: block;
    margin: 6px auto;
    width: 50%;
    position: fixed;
    top: 0px;
    left: 25%;
}
.nav-elements{
     padding: 2px 88px;
}
.nav-elements li{
     display: inline-block;
     padding: 2px 10px;
}
.nav-elements li a{
     font-size: 14px;
     text-decoration: none;
     color: white;
}
 .nav-elements li a:hover{
    color: grey;
    font-size: 15px;
    

}
.right-nav{
     /* border: 2px solid white; */
     position: fixed;
     right: 30px;
     top:22px;
     padding: 2px 2px;
}
.right-nav input{
     border: none;
     padding: 2px 10px;
     border-radius: 10px;
     margin-right: 10px;
     font-variant: small-caps;
     cursor: pointer;
    
}
.right-nav input:hover{
     background-color: grey;
     font-size: 14px;
}
.form-main{
     /* border: 2px solid white; */
     width: auto;
     position: absolute;
     right: 20%;
     top:30%;
}
.form-main h4{
     color: white;
     text-align: center;
     text-decoration:2px underline tomato;
     margin-bottom: 2px;
}
.form-main h4 span{
     color: tomato;

}
.form-main form input{
     display: block;
     margin: 12px auto;
     padding: 6px 16px;
     background-color: white;
     border-radius: 10px;
     border: white;
     font-size: 10px;
}
.gender h6{
     color: tomato;
    
     margin: 4px 132px;
     margin-top: 0px;
}
.gender select{
    display: block;
    margin-left: 119px;
    border-radius: 10px;
    padding: 4px 13px;
    width: 157px;
    font-size: 10px;
}

.buttons{
     margin: 0px 136px;
}
#reset{
         padding: 4px 14px;
     display: inline-block;
     margin-right: 4px;
     cursor: pointer;
}
#submit{
     padding: 4px 14px;
     display: inline-block;
     cursor: pointer;
}
#reset:hover{
     background-color: grey;
     font-size: 11px;
}
#submit:hover{
     background-color: grey;
     font-size: 11px;
}
footer{
     position: fixed;
     bottom: 3px;
}
.footer-ele{
     display: inline-block;
     padding: 2px 10px;
}
.footer-ele a{
     text-decoration: none;
     color: white;
}
.footer-ele a:hover{
     text-decoration:tomato underline;
     color: rgb(187, 130, 130);
}
.footer-ele a img{
     width: 15px;
      filter: invert(100%);
    margin-bottom: 4px;
}
#fblogo{
     width:24px ;
     margin-bottom: 0;
}